{% extends "base.twig" %}
{% block content %}
	<section class="py-4 px-4 bg-light-grey space-y-4">
		<div class="content-section">
			{% if protected %}
				{{ password_form }}
			{% else %}
				<h1>This is the content</h1>
				{{ page.content }}
			{% endif %}
		</div>
	</section>
{% endblock %}
